# Dependencies
node_modules/

# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Terraform
*.tfvars
*.tfstate
*.tfstate.*
.terraform*/


# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
pnpm-debug.log*

# macOS
.DS_Store
.idea/
.vscode/
